@(ql:List[models.Question])
@head={}
@admin("留言板管理",head){
<!-- Example row of columns -->
    <div class="row-fluid">
        <div class="span12  sider">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>题目</th>
                    <th>选择A</th>
                    <th>选项B</th>
                    <th>选项C</th>
                    <th>选项D</th>
                    <th>正确答案</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                @for(q <- ql){
                <tr>
                    <td>*</td>
                    <td>@q.qtitle</td>
                    <td>@q.qoptionA</td>
                    <td>@q.qoptionB</td>
                    <td>@q.qoptionC</td>
                    <td>@q.qoptionD</td>
                    <td>@q.right</td>
                    <td>
                        <a class="btn btn-mini btn-danger" href="/question/del/@q.id">删除</a>
                    </td>
                </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
}