@head={} 
@admin("上传视频",head){
<div class="row-fluid">
	<div class="span12  sider">
		<form class="form-signin max-width300" enctype="multipart/form-data">
			<h2 class="form-signin-heading">上传视频</h2>
			<input type="text" class="input-block-level" name="vtitle" placeholder="视频标题"> 
			<input type="text" class="input-block-level" name="vdesc" placeholder="视频描述"> 
			选择上传的视频:<input type="file" style="margin-bottom: 10px;" name="video">
			<button class="btn btn-large btn-primary" type="submit">上传</button>
		</form>
	</div>
</div>
}
