@head={
<script type="text/javascript">
	$(document).ready(function() {
		$("#upload-btn").click(function() {
			var ititle = $("#ititle").val();
			var picture = $("#picture").val();
			if (ititle == "") {
				alert_info("请填写图片标题");
				return false;
			} else if (picture == "") {
				alert_info("请上传图片文件");
				return false;
			}
		});
	})
</script>
} 
@admin("上传图片",head){
<div class="row-fluid">
	<div class="span12  sider">
		<form class="form-signin max-width300" enctype="multipart/form-data" method="post" action="/image/create">
			<h2 class="form-signin-heading">上传图片</h2>
			<div id="alert" class="alert" style="display: none;"></div>
			<input type="text" class="input-block-level" id="ititle" name="ititle" placeholder="图片标题"> 
			选择上传的图片:<input type="file" style="margin-bottom: 10px;" id="picture" name="picture">
			<button class="btn btn-large btn-primary" id="upload-btn" type="submit">上传</button>
		</form>
	</div>
</div>
}
