@head={} 
@admin("上传题目",head){
<div class="row-fluid">
	<div class="span12  sider">
		<form class="form-horizontal form-signin max-width550" method="post" action="">
			<h2 class="form-signin-heading">上传题目</h2>
			<div class="control-group">
				<label class="control-label" for="title">题目:</label>
				<div class="controls">
					<input type="text" id="title" name="title" placeholder="请输入题目">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="optionA">选项A:</label>
				<div class="controls">
					<input type="text" id="optionA" name="optionA" placeholder="请输入选项A">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="optionB">选项B:</label>
				<div class="controls">
					<input type="text" id="optionB" name="optionB" placeholder="请输入选项B">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="optionC">选项C:</label>
				<div class="controls">
					<input type="text" id="optionC" name="optionC" placeholder="请输入选项C">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="optionD">选项D:</label>
				<div class="controls">
					<input type="text" id="optionD" name="optionD" placeholder="请输入选项D">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="right">正确答案:</label>
				<div class="controls">
					<input type="text" id="right" name="right" placeholder="请输入正确答案">
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<button class="btn btn-large btn-primary" id="upload-btn" type="submit">上传</button>
				</div>
			</div>
		</form>
	</div>
</div>
}
