@head={}
@main("视频展示",head){
    <!-- Example row of columns -->
    <div class="row-fluid">
        <div class="span12  sider">
            <div class="span8 offset2">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <object width="600" height="400"
                        classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
                        codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0">
                    <param name="SRC" value="bookmark.swf">
                    <embed src="./loader.swf"></embed>
                </object>
            </div>

        </div>
    </div>
    }
